# ============================================================
# SMARTPARK AI 2.7
# Python 3.11
# ============================================================

# YOLO11n + ByteTrack
ultralytics
lap==0.5.13

# OpenCV
opencv-python==4.10.0.84

# Reconocimiento facial
deepface==0.0.101
retina-face==0.0.18
tensorflow==2.16.2
tf-keras==2.16.0

# Procesamiento
numpy==1.26.4
Pillow

# API
fastapi
uvicorn[standard]
python-multipart

# Comunicacion HTTP
httpx

# AWS
boto3